{% extends "training/base.html" %}
{% load static %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<img class="img-fluid rounded" src="{% static 'training/about.png' %}" alt="" />
<br />
<h2 class="border-bottom border-gray pb-2 mb-0">About the TKM System</h2>
<p class="small">The <a href="https://www.servirglobla.net">SERVIR</a> program focuses on building capacity to use Earth observations for addressing development challenges. Between mid-2004 and 2020, the program delivered more than 365 trainings to more than 9,862 professionals. Just in 2020, SERVIR executed 42 training events.</p>
<p class="small">The large number of trainings represent both an opportunity and a challenge in terms of knowledge management. While the training materials developed can later be reused in other parts of the SERVIR network, the lack of a central repository for those materials - prior to now - has prevented wider dissemination and use.</p>
<p class="small">The Training Knowledge Management System (TKMS) will become an integral part of the SERVIR Capacity Building Framework, supporting the exchange of resources and methods for conducting training activities across the network.</p>
<h3 class="border-bottom border-gray pb-2 mb-0">Access to the System</h3>
<p class="small">The system offers access to non-curated training materials and information about training events to members of the SERVIR network. These are internal materials and are not for public use. Training materials for public use are available at the SERVIR Global website at <a href="https://www.servirglobal.net/training-materials/">https://www.servirglobal.net/training-materials/</a>.</p>
<p class="small">Designated members of the SERVIR network will have write access to the underlying database.</p>
{% endblock %}
