{% extends "training/base.html" %}
{% load static %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h2 class="border-bottom border-gray pb-2 mb-0">GeoSpatial Charts</h2>
<p class="small"></p>

<div id="mapdiv" style="display: inline;">
    <svg id="map" width="100%" height="400"></svg>
</div>
<div style="text-align: center; margin-top: 1rem;">
    <div id="charts" class="row">
        <div id="chart1" class="col-6">
            <div id="pie-chart-area"></div>
        </div>
        <div id="chart2" class="col-6">
            <div id="donut-chart-area"></div>
        </div>
    </div>
</div>

    <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'node_modules/jqvmap/dist/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'node_modules/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
    <script src="{% static 'node_modules/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>

    <script>

        const getPieChart = (values, labels) => {
            const data = labels.map((label, i) => Object({ name: label, y: values[i]}));
            Highcharts.chart('pie-chart-area', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Training by Country'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                accessibility: {
                    point: {
                        valueSuffix: '%'
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                        }
                    }
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: data
                }]
            });
        };

        const getDonutChart = (title, values, labels) => {
            const data = labels.map((label, i) => [label, values[i]]);
            Highcharts.chart('donut-chart-area', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: 0,
                    plotShadow: false
                },
                title: {
                    text: 'Participant by Gender - ' + title,
                    align: 'center',
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                accessibility: {
                    point: {
                        valueSuffix: '%'
                    }
                },
                plotOptions: {
                    pie: {
                        dataLabels: {
                            enabled: true,
                            distance: -50,
                            style: {
                                fontWeight: 'bold',
                                color: 'white'
                            }
                        },
                        startAngle: -90,
                        endAngle: 90,
                        center: ['50%', '75%'],
                        size: '110%'
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Browser share',
                    innerSize: '50%',
                    data: data,
                }]
            });

        };

        $.ajax({
            dataType: "json",
            url: '/training/get_training_per_country',
            success: (data, textStatus, jqXHR) => {
                const values = data.map(item => item.total);
                const labels = data.map(item => item.country);
                getPieChart(values, labels);
            },
        });

        $.ajax({
            dataType: "json",
            url: '/training/get_participant_gender_per_country',
            success: (data, textStatus, jqXHR) => {
                window.participantGenredPerCountry = data;
                const genderTotal = window.participantGenredPerCountry.reduce((accumulator, currentValue, currentIndex, array) => {
                    (currentValue.gender === 'F') ? accumulator['F'] += currentValue.total : accumulator['M'] += currentValue.total;
                    return accumulator;
                }, {'F': 0, 'M': 0});
                getDonutChart('World', [genderTotal['F'], genderTotal['M']], ['Female', 'Male']);
            },
        });

        $('#map').vectorMap({
            map: 'world_en',
            backgroundcolor: '#ffffff',
            color: '#ffffff',
            hoverOpacity: 0.7,
            selectedColor: '#ffaaaa',
            enableZoom: false,
            showTooltip: true,
            values: sample_data,
            scaleColors: ['#C8EEFF', '#006491'],
            normalizeFunction: 'polynomial',
            onLabelShow: (event, label, code) => {
                event.preventDefault();
            },
            onRegionOver: (event, code) => {
                event.preventDefault();
            },
            onRegionClick: (element, code, region) => {
                const genderByCountry = window.participantGenredPerCountry.reduce((accumulator, currentValue, currentIndex, array) => {
                    if (currentValue.country.toUpperCase() === region.toUpperCase()) {
                        (currentValue.gender === 'F') ? accumulator['F'] += currentValue.total : accumulator['M'] += currentValue.total;
                    }
                    return accumulator;
                }, {'F': 0, 'M': 0});
                getDonutChart(code.toUpperCase() + ' - ' + region, [genderByCountry['F'], genderByCountry['M']], ['Female', 'Male']);
            },
        });

    </script>

{% endblock %}
