{% extends "training/base.html" %}
{% load static %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<style>
    #pie-chart-area, #donut-chart-area {
        border: 1px solid #ced4da;
        border-radius: .25rem;
        margin-bottom: 1rem;
    }
</style>

<h1>GeoSpatial Charts</h1>

<div id="charts" class="row">
    <div class="col-lg-6">
        <div class="form-control" style="border: none; background-color: transparent; margin-bottom: 1rem;"></div>
        <div id="pie-chart-area"></div>
    </div>
    <div class="col-lg-6">
        <select id="select-region" class="form-control" style="margin-bottom: 1rem;">
            <option value="">Select a region</option>
        </select>
        <div id="donut-chart-area"></div>
    </div>
</div>


    <script src="{% static 'node_modules/highcharts/highcharts.src.js' %}"></script>

    <script>

        const getPieChart = (values, labels) => {
            const data = labels.map((label, i) => Object({ name: label, y: values[i]}));
            Highcharts.chart('pie-chart-area', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Training by Country'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y}</b>'
                },
                accessibility: {
                    point: {
                        valueSuffix: '%'
                    }
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: false,
                        size: 200,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f}%'
                        }
                    }
                },
                series: [{
                    name: 'Trainings',
                    colorByPoint: true,
                    data: data
                }],
                credits: {
                    enabled: false
                },
            });
        };

        const getDonutChart = (title, values, labels) => {
            const data = labels.map((label, i) => [`${label} - ${values[i]}`, values[i]]);
            Highcharts.chart('donut-chart-area', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: 0,
                    plotShadow: false
                },
                title: {
                    text: 'Participant by Gender - ' + title,
                    align: 'center',
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                accessibility: {
                    point: {
                        valueSuffix: '%'
                    }
                },
                plotOptions: {
                    pie: {
                        dataLabels: {
                            enabled: true,
                            distance: -50,
                            style: {
                                fontWeight: 'bold',
                                color: 'white'
                            }
                        },
                        startAngle: -90,
                        endAngle: 90,
                        center: ['50%', '75%'],
                        size: '110%'
                    }
                },
                series: [{
                    type: 'pie',
                    name: 'Partecipants',
                    innerSize: '50%',
                    data: data,
                }],
                credits: {
                    enabled: false
                },
            });

        };

        $.ajax({
            async: false,
            dataType: "json",
            url: '/training/get_training_per_country',
            success: (data, textStatus, jqXHR) => {
                const values = data.map(item => item.total);
                const labels = data.map(item => item.country);
                getPieChart(values, labels);
            },
        });

        $.ajax({
            async: false,
            dataType: "json",
            url: '/training/get_participant_gender_per_country',
            success: (data, textStatus, jqXHR) => {
                const participantGenderPerCountry = data.reduce((accumulator, value, index, array) => {
                    $('#select-region').append($("<option>").text(value[0]).val(value[0]));
                    accumulator[value[0]] = value;
                    return accumulator;
                }, {});
                window.participantGenderPerCountry = participantGenderPerCountry;
                window.participantGenderWorld = data.reduce((accumulator, value, index, array) => {
                    accumulator['F'] += value[1] || 0;
                    accumulator['M'] += value[2] || 0;
                    accumulator['X'] += value[3] || 0;
                    return accumulator;
                }, {'F': 0, 'M': 0, 'X': 0});
                getDonutChart('World', [window.participantGenderWorld['F'], window.participantGenderWorld['M'], window.participantGenderWorld['X']], ['Female', 'Male', 'Not specified']);
            },
        });

        const onRegionClick = (element, code, region) => {
            if (region === '') {
                getDonutChart('World', [window.participantGenderWorld['F'], window.participantGenderWorld['M'], window.participantGenderWorld['X']], ['Female', 'Male', 'Not specified']);
            } else {
                const value = window.participantGenderPerCountry[region];
                const genderByCountry = {
                    'F': value[1] || 0,
                    'M': value[2] || 0,
                    'X': value[3] || 0
                };
                let title = region;
                if (code) title += `- ${code.toUpperCase()}`;
                getDonutChart(title, [genderByCountry['F'], genderByCountry['M'], genderByCountry['X']], ['Female', 'Male', 'Not specified']);
            }
        };

        $('#select-region').on('change', function() {
            onRegionClick(null, null, this.value);
        });

    </script>

{% endblock %}
