{% extends "training/base.html" %}
{% load static %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<h1>Training Events</h1>
<script type="text/javascript">
    var events = [
      {% for rec in event_records %}
        {% if not forloop.first %},{% endif %}
        {
          starts: "{{ rec.starts }}",
          name: "{{ rec.name }}",
          country: "{{ rec.country }}",
          organization: "{{ rec.organization }}",
          format: "{{ rec.format_verbose }}",
          servicearea: "{{ rec.servicearea_verbose }}"
        }
        {% endfor %}
    ]
</script>
<img class="img-fluid" src="{% static 'training/events.jpg' %}">
{% if event_records %}
<table class="table table-striped table-sm small">
  <thead class="thead-dark">
    <th scope="col">Date</th>
    <th scope="col">Title</th>
    <th scope="col">Location</th>
    <th scope="col">Organizer</th>
    <th scope="col">Format</th>
    <th scope="col">Service<br>Area</th>
  </thead>
  {% for rec in event_records %}
  <tr>
      <td><a href="#">{{ rec.starts }}</a></td>
    <td>{{ rec.name }}</td>
    <td>{{ rec.country }}</td>
    <td>{{ rec.organization }}</td>
    <td>{{ rec.format_verbose }}</td>
    <td>{{ rec.servicearea_verbose}}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No Training Events have been registered in the database</p>
{% endif %}

{% endblock %}