{% extends "training/base.html" %}
{% load static %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h1 style="display: inline-block;">Training Events</h1>
<a class="btn btn-info" href="/training/events_export" style="float: right;">Export Events</a>

<img class="img-fluid rounded" src="{% static 'training/events.jpg' %}">

<script type="text/javascript">
    var events = [
      {% for rec in event_records %}
        {% if not forloop.first %},{% endif %}
        {
          starts: "{{ rec.starts }}",
          name: "{{ rec.name }}",
          country: "{{ rec.country }}",
          organization: "{{ rec.organization }}",
          format: "{{ rec.format_verbose }}",
          servicearea: "{{ rec.servicearea_verbose }}",
          training: "{{ rec.training }}",
          id: "{{ rec.id }}"
        }
        {% endfor %}
    ]
</script>

<script>
  $(document).ready( function () {
    $('#EventsTable').DataTable();
} );
</script>
<p>
</p>
{% if event_records %}
<table class="table table-striped table-sm small display" id="EventsTable">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Edit</th>
      <th scope="col">Date</th>
      <th scope="col">ID</th>
      <th scope="col">Title</th>
      <th scope="col">Location</th>
      <th scope="col">Hub</th>
      <th scope="col">Format</th>
      <th scope="col">Language</th>
    </tr>
  </thead>
  <tbody>
    {% for rec in event_records %}
    <tr>
      <td><a class="badge badge-danger" href="/admin/training/training/{{ rec.id }}/change/">Edit</a></td>
      <td>{{ rec.starts }}</td>
      <td>{{ rec.id }}</td>
      <td><a href="/training/event/{{ rec.id }}">{{ rec.name }}</a></td>
      <td>{{ rec.country }}</td>
      <td>{{ rec.hub }}</td>
      <td>{{ rec.format_verbose }}</td>
      <td>{{ rec.language }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
  <p>No Training Events have been registered in the database</p>
{% endif %}

{% endblock %}
