{% extends "training/base.html" %}
{% load static %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h1>Training Resources</h1>
<img class="img-fluid rounded" src="{% static 'training/resources.jpg' %}">

<script>
  $(document).ready( function () {
    $('#ResourcesTable').DataTable();
} );
</script>
<p>
</p>

{% if resource_records %}
<table class="table table-striped table-sm small display" id="ResourcesTable">
  <thead class="thead-dark">
    <tr>
    <th scope="col"></th>
    <th scope="col">Resource<br />Type</th>
    <th scope="col">Training</th>
    <th scope="col">Language</th>
    <th scope="col">ID</th>
    <th scope="col">Title</th>
    <th scope="col">Author</th>
    <th scope="col">License<br />Type</th>
    <th scope="col">Backup Status</th>
    </tr>

  </thead>
  <tbody>
  {% for rec in resource_records %}
  <tr>
    <td><a class="badge badge-danger" href="/admin/training/resource/{{ rec.id }}/change/">Edit</a></td>
    <td>{{ rec.resourcetype_verbose }}</td>
    <td>{{ rec.t.name }}</td>
    <td>{{ rec.t.language }}</td>
    <td>{{ rec.id }}</td>
    <td>
      {% if rec.internaluse %}
        <span class="badge badge-warning">Internal Use</span>
      {% endif %}
      <a href="{{ rec.location }}">{{ rec.name }}</a>
    </td>
    <td>{{ rec.author }}</td>
    <td>{{ rec.license }}</td>
    <td>
      {% if rec.backedup %}
        OK
      {% else %}
        <span class="badge badge-info">Pending</span>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</tbody>
</table>

{% else %}
  <p>No Resources have been registered in the database</p>
{% endif %}

{% endblock %}
