{% extends "training/base.html" %}
{% load static %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<h1>Training Resources</h1>
<img class="img-fluid rounded" src="{% static 'training/resources.jpg' %}">
{% if resource_records %}

<table class="table table-striped table-sm small">
  <thead class="thead-dark">
    <th scope="col"></th>

    <th scope="col"> 
      <a href="?order_by=name&asc_des={{ asc_des }}">
      Title&nbsp;
      <img width="15px" height="15px" src="{{ asc_url_name }}"></img></a>
    </th>

    <th scope="col"> 
      <a href="?order_by=author&asc_des={{ asc_des }}">
      Author&nbsp;
    <img width="15px" height="15px" src="{{ asc_url_author }}"></img></a>
    </th>

    <th scope="col"> 
      <a href="?order_by=resourcetype&asc_des={{ asc_des }}">
      Resource<br>Type&nbsp;
      <img width="15px" height="15px" src="{{ asc_url_resourcetype }}"></img></a>
    </th>

    <th scope="col"> 
      <a href="">
      Training&nbsp;
      </a>
    </th>

  </thead>
  {% for rec in resource_records %}
  <tr>
    <td><a class="badge badge-danger" href="/admin/training/resource/{{ rec.id }}/change/">Edit</a></td>
    <td><a href="{{ rec.location }}">{{ rec.name }}</a></td>
    <td>{{ rec.author }}</td>
    <td>{{ rec.resourcetype_verbose }}</td>
    <td>{{ rec.t }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No Resources have been registered in the database</p>
{% endif %}

{% endblock %}