{% extends "training/base.html" %}
{% load static %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<h1>Trainers</h1>
<img class="img-fluid rounded" src="{% static 'training/trainers.jpg' %}">

{% if trainer_records %}
<table class="table table-striped table-sm small">
  <thead class="thead-dark">
    <th scope="col"></th>
    <th scope="col">
      <a href="?order_by=name&asc_des={{ asc_des }}">
        Name
        {% if order_by == 'name' %}
          {% if asc_des == 'true' %}
            &nbsp;<i class="bi bi-sort-alpha-down-alt" style="font-size: 1rem;"></i>
          {% else %}
            &nbsp;<i class="bi bi-sort-alpha-down" style="font-size: 1rem;"></i>
          {% endif %}
        {% endif %}
      </a>
    </th>
    <th scope="col">
      <a href="?order_by=organization&asc_des={{ asc_des }}">
        Organization
        {% if order_by == 'organization' %}
          {% if asc_des == 'true' %}
            &nbsp;<i class="bi bi-sort-alpha-down-alt" style="font-size: 1rem;"></i>
          {% else %}
            &nbsp;<i class="bi bi-sort-alpha-down" style="font-size: 1rem;"></i>
          {% endif %}
        {% endif %}
      </a>
    </th>
    <th scope="col">
      <a href="?order_by=role&asc_des={{ asc_des }}">
        Role
        {% if order_by == 'role' %}
          {% if asc_des == 'true' %}
            &nbsp;<i class="bi bi-sort-alpha-down-alt" style="font-size: 1rem;"></i>
          {% else %}
            &nbsp;<i class="bi bi-sort-alpha-down" style="font-size: 1rem;"></i>
          {% endif %}
        {% endif %}
      </a>
    </th>
  </thead>
  {% for rec in trainer_records %}
  <tr>
    <td><a class="badge badge-danger" href="/admin/training/trainer/{{ rec.id }}/change/">Edit</a></td>
    <td><a href="#">{{ rec.name }}</a></td>
    <td>{{ rec.organization }}</td>
    <td>{{ rec.role }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
  <p>No Trainers have been registered in the database</p>
{% endif %}

{% endblock %}