{% extends "training/base.html" %}
{% load static %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<h1>Trainers</h1>
<img class="img-fluid rounded" src="{% static 'training/trainers.jpg' %}">

{% if trainer_records %}
<table class="table table-striped table-sm small">
  <thead class="thead-dark">
    <th scope="col"></th>
    <th scope="col">Name</th>
    <th scope="col">Organization</th>
    <th scope="col">Role</th>
    <th scope="col">Gender</th>
  </thead>
  {% for rec in trainer_records %}
  <tr>
    <td><a class="badge badge-danger" href="/admin/training/trainer/{{ rec.id }}/change/">Edit</a></td>
    <td><a href="#">{{ rec.name }}</a></td>
    <td>{{ rec.organization }}</td>
    <td>{{ rec.role }}</td>
    <td>{{ rec.gender_verbose }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<p>No trainers have been registered in the database</p>
{% endif %}

{% endblock %}